@tailwind base;
@tailwind components;
@tailwind utilities;

.font-style1{
  font-style: Poppins, sans-serify;
}


li a::before{
  content: '';
  position:absolute;
  bottom: -5px;
  left: 0;
  width:0;
  height: 3px;
  background-color: yellowgreen;
  transform: all .5s ease-in-out;
}

li a:hover::before{
  width: 100%;
}